<!doctype html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Roommate{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'home/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'home/js/bootstrap.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #cc2030">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}"><span class="navbar-brand mb-0 h1">Roommate</span></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'create' %}">Create Listing</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.first_name %}
                                {{ user.first_name }}
                            {% else %}
                                {{ user.username }}
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                            <a class="dropdown-item" href="{% url 'user_listings' %}">Your Listings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'signout' %}">Sign Out</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
